:root{
  --primarycolor: #55710B;
  --animate-duration: 800ms;
  --animation-delay: 0.9s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
  height: 100%;
}

.mg-t-10{ 
   margin-top: 10px; 
}

.section{ 
    padding-top: 60px;
}

/* Intro Section */
.intro-section{
  padding: 4px;
  margin: 4px auto;
  width: 90%;
}

.info-social{
  background-color: rgb(250, 235, 235);
  border-radius: 3.5rem;
  padding: 24px;
  opacity: .80;
}

.info-social >p{
  font-size: 16px;
}

.social-media{
  width: 100%;
  top: 56px;
  z-index: -1;
  background: url("../img/img-fundo-02.jpg") no-repeat center center/cover;
  max-height: 550px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.receita-section > .card{
  min-height: auto;
}

.main-section{
  margin-top: 5.34rem;
}
/* outher section */
.outher-img{
  max-height: 586px;
}

/* Footer */
 .footer-section {
    padding: 2.5rem 0;
    color: #fff;
    text-align: center;
    background-color: #073642;
    border-top: .05rem solid #e5e5e5;
    margin-bottom: 0;
    bottom: 0;
    float: bottom;
  }
  .footer-section p:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 375px){

  }

  @media (max-width: 768px){
    .receita-card{
      width: 18rem;
    }
    .info-social{
      width: 95%;
      margin: 0px auto;
    }
    .social-media-links{
      text-align: center;
    }
  }
  @media (min-width: 770px){
    .receita-card{
      width: 15rem;
    }
  }
  
